<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partils/head') %>
        <title>All Blogs</title>
</head>

<body class="bg-primary-subtle d-flex flex-column min-vh-100">
    <!-- Navbar -->
    <%- include('partils/navbar') %>

        <!-- Main Content -->
        <main class="container mt-4 flex-grow-1">
            <div class="card mb-4">
                <div class="row g-0">
                    <!-- Blog Image -->
                    <div class="col-md-4">
                        <% if(blog.coverImageURL){ %>
                            <img src="<%= blog.coverImageURL %>" class="img-fluid rounded-start" alt="Image Not Found">
                            <% } else { %>
                                <div
                                    class="d-flex align-items-center justify-content-center h-100 bg-secondary text-white">
                                    No Image
                                </div>
                                <% } %>
                    </div>

                    <!-- Blog Content -->
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= blog.title %>
                            </h5>
                            <%= blog._id %>
                                <p class="card-text">
                                <pre><%= blog.body %></pre>
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">Blog Type: <%= blog.type %></small>
                                </p>

                                <!-- User Info -->
                                <div class="d-flex align-items-center mt-3">
                                    <img src="<%= blog.createdBy.profileImageURL %>" alt="User Image"
                                        class="rounded-circle me-2" width="50" height="50">
                                    <span>
                                        <%= blog.createdBy.fullname %>
                                    </span>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Comment Blog Form -->
            <div class="container mt-3">
                <h3>Comment <%= comments.length %></h3>
                <% if (locals.user) { %>
                    <form action="/blog/comment/<%= blog._id%>" method="post">
                        <div class="mb-3">
                            <input type="text" name="comment" id="comment" class="form-control"
                                placeholder="Enter Comment">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary me-3">Submit</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </div>
                    </form>
                    
                    <% } %>
                    <div class="mt-3">
                        <% comments.forEach(data=> { %>
                            <div class="mb-2 d-flex ">
                                <img src="<%= data.createdBy.profileImageURL %>" alt="User Image"
                                    class="rounded-circle me-2" width="50" height="50">
                                    <strong>
                                        <%= data.createdBy.fullname %>
                                    </strong>
                            </div>
                            <p class="ms-5">
                                <%= data.content %>
                            </p>
                            <hr>
                            <% }) %>
                    </div>

            </div>
        </main>

        <!-- Footer -->
        <footer class=" mt-auto">
            <%- include('partils/footer') %>
        </footer>

        <!-- Scripts -->
        <%- include('partils/scripts') %>
</body>

</html>